body {
    font-family: Arial;
    background: #eef2f7;
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

.btn {
    background: #28a745;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

table {
    width: 100%;
    margin-top: 20px;
}

th {
    background: #333;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    text-align: center;
}

.income {
    color: green;
    font-weight: bold;
}

.expense {
    color: red;
    font-weight: bold;
}

.form-container {
    width: 400px;
    margin: 80px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input, select {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}

button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
}

.edit-btn {
    background: orange;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.delete-btn {
    background: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}